html {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #505050;
    text-align: center;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 2rem);
    grid-template-rows: minmax(4rem, auto) repeat(5, 2rem);
    grid-gap: 0.5rem;
}

.border {
    display: inline-block;
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
}

.equation {
    font-size: 1rem;
    color: #e2e2e2;
    align-self: flex-start;
    text-align: left;
}

.result {
    font-size: 1.3rem;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.calculator-grid > button {
    border: none;
    border-radius: 50%;
    font-size: 1rem;
}

.number {
    background-color: #1C1C1C;
    color: white;
}

.number:hover {
    background-color: #505050;
}

.orange {
    background-color: #FF9500;
    color: white;
}

.orange:hover {
    background-color: #ffc675;
}

.grey {
    background-color: #D4D4D2;
    color: black;
}

.grey:hover {
    background-color: #f2f2f2;
}